$common-border-radius: 6px;

.search-bar {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding: 2rem;
  background-color: var(--SECONDARY-BG-COLOR);
  box-shadow: 2px 2px 5px grey;
  width: var(--SEARCH-BAR-WIDTH);
  border-radius: $common-border-radius;

  .label-and-filter-container {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    label {
      color: var(--MAIN-FONT-COLOR);
      text-transform: capitalize;
      font-weight: bold;
      letter-spacing: 3px;
    }
    .filter-btn {
      background-color: transparent;
      outline: none;
      border: none;
      cursor: pointer;
      img {
        width: 25px;
      }
    }
  }

  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    input {
      width: 100%;
      border-radius: $common-border-radius;
      background-color: var(--PRIMARY-BG-COLOR);
      border: none;
      font: inherit;
      padding: 0.3rem 0.5rem;
    }
    .clear {
      width: 12px;
      cursor: pointer;
      position: absolute;
      z-index: 1;
      right: 15px;
    }
  }
}
